
body {
    margin: 0;
    padding: 0;
    font-family: Calibri,sans-serif;
    background-color: #96C2DD;
    background-image: url(images/background/white3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pro {
    background-color: rgba(255,255,255,0.6);
    border: 3px solid #b9462d;
    height: 85px;
    width: 95%;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 3px 20px;
    border-collapse: collapse;
}

.liter {
    margin-left: 25px;
}

.beschreib {
    margin-left: 25px;
}

.filter {
    color: white;
    background-color: rgba(171,33,53,0.8);
    border: 3px solid #b9462d;
    height: 80px;
    width: 95%;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 3px 20px;
    border-collapse: collapse;
    
}

.kategorie {
    padding-left: 185px;
}

.detail {
    background-color: rgba(255,255,255,0.7);
    border: 3px solid #b9462d;
    min-height: 100%;
    width: 95%;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 20px 20px;
    border-collapse: collapse;
    display: inline-block;
}

.detail_name {
    padding-left: 130px;
    padding-bottom: 15px;
   
}

.detail_bild {
     display: inline-block;
}

.detail_text {
    padding-left: 130px;
}

.detail_waren {
    padding-left: 130px;
    float: right;
    clear: both;
}

h4 {
    color:#ac2135;
    margin: 0 0 0.2em 0;
    font-size: 1.0em;
    display: inline-block;
}

.l_flag {
    margin: 5px;
    width: 15px;
    height: 15px;
    clear: both;
}

.d_flag {
    width: 40px;
    height: 30px;
    padding-left: 15px;
    
}

/*
 * regestrierung und Login Button rechts
 */
#kunde {
    background-color: rgba(255,255,255,0.9);
    background-color:#AC1828;
    float: right;
    height: 24px;
    width: 186px;
    margin-right: 20px;
    margin-top: 20px;
}
.clearfix{
    clear: both;
}
#wrapper {
    width: 1000px;
    margin:0 auto;
    overflow: auto;
    position: relative;
}

/*
 * Kopf
 */
#header {
    margin-bottom:5px;
    text-align: right;
    height: 130px;
    border-radius: 5px;
}

/*
 * Navigationsleiste
 */
#navi {
    overflow: auto;
    background-image: url(images/header_bg.png);
}
#navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navi a:link, #navi a:visited, #navi a:focus, #navi a:active {
    float: left; 
    padding:15px 15px;
    background-image: url(images/menu_sep.png);
    background-position: center right;
    background-repeat: no-repeat;
    color:#fff;    
    text-decoration:none;
}
#navi a:hover {
    background-color:#ac2135;
    transition: all 0.3s ease-in;    
}
/*
 * Hauptbereich
 */
#main {
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
}

#main h1, #main h2, #main h3 {
    color:#ac2135;
    background-color: rgba(255,255,255,0);
    margin: 0 0 0.2em 0;
}
#main h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#main h2 {
    font-size: 1.2em;
}
#main h3 {
    font-size: 1em;
}

#main p {
    margin: 0 0 0.4em 0;
}
#main img {
    float: left;
    max-width: 40%;
}


/*
 * Regestrierungs und Login und Kunden Konto Seite 
 * - Tabellen
 */
#registry, #login, #kontakt {
    padding:auto;
    background-position: center;
}
#kunden_registry_main {
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
}
#kunden_registry_main h1{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 287px;
}
#kunden_registry_main h2{
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 167px;
}

#kunden_registry_table{
    margin-left: 287px;
}

#login_table, #kontakt_table
{
    margin: 0px auto;
}
#registry_table1, #login_table1, #kontakt_table1
{
   
   /* margin: 0px auto; */
}
#kunden_konto_main {
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
}
#kunden_konto_main h1{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#kunden_konto_leftside h1{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#kunden_konto_leftside h2{
    padding: 1px;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.5);
    margin-right: 244px;
    margin-top: 20px;
}
#kunden_konto_leftside h3{
    padding: 1px;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.5);
    margin-right: 292px;
    margin-top: 20px;
}

#kunden_konto_leftside {
                padding: 10px;
                float:left;
                width: 47%;
                overflow: auto;
            }
           
#kunden_konto_rightside {
                
                padding: 10px;
                width: 47%; 
                float: right;
            }
#registry_button, #aendern_button, #login_button, #kontakt_button {
                color: #FFFFFF;
                background-color: #B52136;
                cursor: pointer;
            }
/* style="color: #FFFFFF; BACKGROUND-COLOR: #B52136" */


#main h1a {
    margin: 0 0 0.2em 0; 
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    background-position: center;
}
#main h2a {
color:#ac2135;
margin: 0 0 0.2em 0;
font-size: 1.2em;
}

/*
 * Kunden Konto Seite 
 * Tabellen links und rechts
 */
#leftside {
                padding: 10px;
                float:left;
                width: 47%;
                overflow: auto;
            }
           
#rightside {
                
                padding: 10px;
                width: 47%; 
                float: right;
            }
            
/*
 * Kontakt Seite
 * Info Zeile über Eingabe Feld (textarea)
 */
#kontakt_Infozeile{
                
    /* padding:auto; */
    /* background-position: center; */
    background-color:rgba(255,255,255,0.7);
    width: 500px;
    height: 20px;
    color:#ac2135;
    background-color: rgba(255,255,255,0.5);
    margin: 0 0 0.2em 0;
    font-size: 0.9em;
    
            }            
         #main {
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
}

#history_main h1, #history_main h2, #history_main h3 {
    color:#ac2135;
    background-color: rgba(255,255,255,0);
    margin: 0 0 0.2em 0;
}
#history_main h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#history_main h2 {
    font-size: 1.2em;
}
#history_main h3 {
    font-size: 1em;
}

#history_main p {
    margin: 0 0 0.4em 0;
}
#history_main img {
    float: right;
    max-width: 40%;
}
   
#history{
            text-decoration: none;
            padding: 0px;
            margin: 0px;
            text-align: justify;
            padding-right: 10px;
            } 
			
#history_table1{
     width: 100%;
     border: 0px; 
     vertical-align: top;
     text-align: left;
     background-color: rgba(255,255,255,0.5);
   /* margin-bottom: 20px;
   margin-left: 20px;
    float: right; */
    
}           
#history_bild_01{
   
    margin-bottom: 20px;
    margin-left: 20px;
    float: right;
    
    width: 285px;
    height: 384px;
     background-color: rgba(255,255,255,0.5);
}
#history_bild_02{
    
    margin-bottom: 20px;
    margin-left: 20px;
   
    width: 285px;
    height: 411px; 
}
#history_bild_03{
    
    margin-bottom: 20px;
    margin-left: 20px;
    
    width: 285px;
    height: 199px;
}
#history_bild_04{
    
    margin-bottom: 20px;
    margin-left: 20px;
    width: 285px;
    height: 380px;
}
#history_bild_05{
    
    margin-bottom: 20px;
    margin-left: 20px;
    width: 285px; 
    height: 200px;
}
#history_bild_06{
    
    margin-bottom: 20px;
    margin-left: 20px;
    width: 285px; 
    height: 199px;
}
#history_bild_07{
    
    margin-bottom: 20px;
    margin-left: 20px;
    width: 285px;
    height: 199px; 
}
#history_bild_08{
    
    margin-bottom: 20px;
    margin-left: 20px;
    width: 285px; 
    height: 200px;
}
#history_bild_09{
    
    margin-bottom: 20px;
    margin-left: 20px;
    width: 285px; 
    height: 200px;
}
#history_bild_10{
    
    margin-bottom: 20px;
    margin-left: 20px;
   
    width: 285px; 
    height: 215px;
}
#history_bild_11{
    
    margin-bottom: 20px;
    margin-left: 20px;
    
    width: 285px; 
    height: 188px;
}
#history_bild_12{
    
    margin-bottom: 20px;
    margin-left: 20px;
   
    width: 285px; 
    height: 188px;
}
#history_bild_13{
    
    margin-bottom: 20px;
    margin-left: 20px;
    
    width: 285px; 
    height: 183px;
}
#history_bild_14{
    
    margin-bottom: 40px;
    margin-left: 20px;
    
    width: 285px; 
    height: 430px;
}
#history_bild_15{
    
    margin-bottom: 20px;
    margin-left: 20px;
   
    width: 285px; 
    height: 397px;
}
#history_bild_16{
    
    margin-bottom: 20px;
    margin-left: 20px;
   
    width: 285px; 
    height: 429px; 
}
#history_bild_17{
    
    margin-bottom: 20px;
    margin-left: 20px;
   
    width: 285px; 
    height: 182px;
}
#history_bild_18{
    
    margin-bottom: 20px;
    margin-left: 20px;
    
    width: 285px; 
    height: 183px;
}
#history_bild_19{
    
    margin-bottom: 20px;
    margin-left: 20px;
    
    width: 285px; 
    height: 218px;
}
#history_bild_20{
    
    margin-bottom: 20px;
    margin-left: 20px;
    
    width: 285px; 
    height: 183px; 
}
#history_h1 {
    color:#ac2135;
    background-color: rgba(255,255,255,0);
    margin: 0 0 0.2em 0;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}







/*
 * Fussbereich
 */
#footer {
    clear: both;
    
    text-align: right;
    color:#fff;
    padding:5px 20px;
    background-color: rgba(172,33,53,0.6);
}
#search {
    position: absolute;  
    right: 0;
    margin: auto;
    color:#fff;
    background-color: rgba(172,33,53,0.6);
}
#footer a{
    color: #fff;
    text-decoration: none;
}

#copyright{
    margin: 5px 5px 5px 5px;
   text-align: center;
}
/*
 * Schaltflächen
 */
a[class=button]:link, a[class=button]:visited, a[class=button]:focus, a[class=button]:active {
    float: right;
    padding:0.1em 1em;
    text-decoration: none;
    background-image: url(images/header_bg.png);
    border-radius: 3px;
    color:#fff;
    
    

}
a[class=button]:hover {
    background-image: url(images/menu_hover.png);
}
/*
 * Allgemeine Links
 */
a:link, a:visited, a:focus, a:active {
    color:#ac2135;
    font-weight: bold;
}
a:hover {
    text-decoration:none;
}
.mengeUndWarenkorp{
    float: right;
    width: 40%;
    
}
input[type=button][class=warenkorp]{
    float: right;
    padding:0.1em 1em;
    background-image: url(images/header_bg.png);
    border-radius: 3px;
    color:#fff;
    
}
.bildUndName{
    padding-top: 5px;
    width: 50%;
    
    
}

.nameundtext{
    padding-left: 5px;
    float: left;
    width: 50%;
}

