
/*
 * Detail php Seite
 */
.detail {
    background-color: rgba(255,255,255,0.7);
    border: 3px solid #b9462d;
    min-height: 100%;
    width: 95%;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 20px 20px;
    border-collapse: collapse;
    display: inline-block;
}

.detail_name {
    padding-left: 130px;
    padding-bottom: 15px;
   
}

.detail_bild {
     display: inline-block;
}

.detail_text {
    padding-left: 130px;
}

.detail_waren {
    padding-left: 130px;
    float: right;
    clear: both;
}

h4 {
    color:#ac2135;
    margin: 0 0 0.2em 0;
    font-size: 1.0em;
    display: inline-block;
}

.l_flag {
    margin: 5px;
    width: 15px;
    height: 15px;
    clear: both;
}

.d_flag {
    width: 40px;
    height: 30px;
    padding-left: 15px;
    
}

.liter {
    margin-left: 25px;
}

.beschreib {
    margin-left: 25px;
}

.kategorie {
    padding-left: 185px;
}
/*
 * lightbox Fenster 
 */
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 86px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
